@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #541f14;
    --cor-secundaria: #447d4a;
    --cor-terciaria: #f2cc67;

    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Krona One', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-secundaria);

}

.cabecalho {
    padding: 2% 0% 0% 25%;
    background-color: var(--cor-terciaria);
    background-size: 50%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    align-items: center;
    line-height: 40px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-primaria);
    
}

.fundo {
    padding: 8% 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.fundo__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-destaque {
    color: var(--cor-primaria);
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
}

.titulo__destaque {
    color: var(--cor-terciaria);
}

.paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.nome__botoes {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1rem;
}

.botoes__dois {
    /* background-color: #541f14; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10%;
    text-decoration: none;
    color: white;
    font-family: var(--fonte-primaria);
    border: 2px solid var(--cor-primaria);
}

.botoes__dois:hover {
    background-color: var(--cor-primaria);
    width: 50%;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 3%;
    color: white;
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 0.9rem;
    

}

@media (max-width: 1200px) {
    .fundo {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .fundo__conteudo {
        width: auto;
    }

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
}